*
{
    margin:0 auto;
    padding:0;
}


.mynav
{
    width: 1200px;
    height: 60px;
    background-color: orangered;
    display: flex;
    align-items: center;
}
.mynav section
{
    /* border:1px solid blue; */
    flex:1;
}
.mynav section:nth-child(2)
{
    flex:2;
}
.mynav ul
{
    list-style-type: none;
    display: flex;
    width: 80%;
}
.mynav ul li
{
    flex:1;
    /* border:1px solid yellow; */
    text-align: center;
}
.mynav section:nth-child(3)
{
    text-align: right;
}
.mynav section:nth-child(1)
{
    padding-left:20px;
}
.mynav a
{
    color:white;
    text-decoration: none;
    text-transform: capitalize;
}
p
{
    text-transform: capitalize;
}

.columns
{
    width: 1200px;
    text-align: justify;
    border:1px solid red;
    padding:10px;
    columns:4;
    column-rule: 2px dotted gray;
    column-gap: 30px;
}
.columns h3
{
    column-span: all;
    padding-bottom: 50px;
}

.columns img
{
    width: 100%;
}
.columns p::first-letter
{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    line-height: 50px;
    font-weight: bold;
}
.columns h3::first-line
{
    color:red;
}
.columns span
{
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
}
